#body{

background-size: cover;
background: url('bg`.webp');
}

#body2{
    background-size: cover;
background: url('backg].jpg');
}

.container{
display: flex;
flex-direction: column;
width: 60%; 
margin: 0 auto; 
text-align: center; 
border: 1px solid #000; 
background-color: rgba(139, 112, 112, 0.5);
display: none;

  }

.container3
{
display: flex;
flex-direction: column;
width: 60%; 
margin: 0 auto; 
text-align: center; 
border: 1px solid #000; 
background-color:yellow;
padding: 20px;
display: none;

}

.container2{
display: flex;
flex-direction: column;
width: 60%; 
margin: 0 auto; 
text-align: center; 
border: 1px solid #000; 
background-color: rgba(98, 160, 246, 0.5);

}

form{
    display: flex;
    flex-direction: column;
}

.ques{
  margin: 10px;
  border: 2px solid black; 
  padding: 20px;
  font-size: 25px;
  font-weight: 300;
  background-color: yellow;
   
}

.q{
   background-color: rgb(0, 128, 255); 
   font-size: 20px;
   font-weight: 200;
   margin: 10px;
   padding:15px;
   color:white;
}

.quiz{
font-size: 70px;
color: rgb(248, 13, 13);
text-shadow: 2px 2px rgb(140, 243, 15);
font-weight: bolder;
z-index: 2;
background-color: aquamarine;
}

.q:hover{
background-color: blue;
color:white;

}

label{
    margin: 10px;
    font-weight: 800;
    font-size: 30px;
    font-weight: 800;
    color: rgb(244, 224, 7);
    background-color: #000;

}
input,select{
    margin-bottom: 20px;
    padding: 10px;
    font-size: 22px;
}

option{
  font-weight: 300;
  font-size: 22px;
  background-color: aqua;
}

.start_quiz{
    background-color:yellow;
    font-size: 30px;
    padding: 10px;
}

